@media only screen and (min-width: 992px) {
    .contenedor-casa-publicidad{
        padding-top: 16px;    
    }
    .contenedor-colegio-publicidad{
        padding-top: 16px;    
    }
    .texto-casa-publicidad{
        margin-right: 0px;
    }
    .texto-colegio-publicidad{
        margin-right: 0px;
    }
    .imagen-casa-publicidad{
        height: 593px;
        margin-top: 16px;        
    }
    .contenedor-cascada-publicidad{
        padding-top: 36px;
    }
}

@media only screen and (max-width: 991px) {
    .texto-casa-publicidad{
        margin: 0px;        
    }
    .texto-colegio-publicidad{
        margin: 0px;        
    }
    .contenedor-segunda-publicidad{
        margin-left: 0px;
    }
}

@media only screen and (min-width: 768px) {
    
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .contenedor-colegio-publicidad{
        position: absolute;
        top:320px;
        margin-top: 16px;
    }
    .imagen-casa-publicidad{
        height: 656px;
    }
}

@media only screen and (max-width: 575px) {
    .contenedor-imagen-publicidad{
        height: 650px;
        margin-left: 0px;
        margin-top: 16px;
    }
    .contenedor-colegio-publicidad{
        margin-top: 16px;
    }    
}

.imagen-casa-publicidad{    
    background: url("../Recursos/Imágenes/Casa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 14s infinite alternate;
}

@keyframes slider{
    from{
        background-position: left center;
    }
    to{
        background-position: right center;
    }
}

.imagen-colegio-publicidad{
    background-image: url("../Recursos/Imágenes/Niños_Estudiando.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: rgb(201, 201, 201);
}

/*.uno{
    color: rgb(30, 30, 131);
    box-shadow: 3px 0px red inset;
    transition: all 1s;
}
.uno:hover{
    color: white;
    box-shadow:250px 0px rgb(161, 41, 41) inset;
}*/