@media only screen and (max-width: 991px) {
    .texto-publicidad{
        margin: 0px;        
    }
}

@media only screen and (min-width: 992px) {
    .contenedor-publicidad{
        padding-top: 16px;    
    }
    .texto-publicidad{
        margin-right: 0px;
    }
    .imagen-publicidad{
        height: 593px;
        margin-top: 16px;        
    }
    .texto-naturaleza-publicidad{
        font-size: 31px;
    }
    .texto-trekking-publicidad{
        font-size: 25px;
    }
    .texto-kilometros-publicidad{
        font-size: 50px;
        font-weight: bolder;
    }
    .texto-cascada-publicidad{
        font-size: 35px;
    }
    .texto-hora-publicidad{
        font-size: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .texto-naturaleza-publicidad{
        font-size: 23px;
    }
    .texto-trekking-publicidad{
        font-size: 20px;
    }
    .texto-kilometros-publicidad{
        font-size: 30px;
        font-weight: bolder;
    }
    .texto-cascada-publicidad{
        font-size: 23px;
    }
    .texto-hora-publicidad{
        font-size: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .contenedor-cascada-publicidad{
        margin-top:36px;
        padding-left: 0px;
    }
    .texto-fecha-publicidad{
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .texto-salida-publicidad{
        font-size: 25px;       
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .texto-naturaleza-publicidad{
        font-size: 34px;
    }
    .texto-trekking-publicidad{
        font-size: 25px;
    }
    .texto-kilometros-publicidad{
        font-size: 50px;
        font-weight: bolder;
    }
    .texto-cascada-publicidad{
        font-size: 30px;
    }
    .texto-hora-publicidad{
        font-size: 50px;
    }
}

@media only screen and (max-width: 575px) {
    .contenedor-imagen-publicidad{
        height: 650px;
        margin-left: 0px;
        margin-top: 16px;
    }
    .prueba{
        margin-top: 16px;
    }
    .texto-naturaleza-publicidad{
        font-size: 40px;
    }
    .texto-trekking-publicidad{
        font-size: 30px;
    }
    .texto-kilometros-publicidad{
        font-size: 60px;
        font-weight: bolder;
    }
    .texto-cascada-publicidad{
        font-size: 40px;
    }
    .texto-hora-publicidad{
        font-size: 50px;
    }
}

.imagen-publicidad{    
    background: url("../Recursos/Imágenes/Casa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 14s infinite alternate;
}

@keyframes slider{
    from{
        background-position: left center;
    }
    to{
        background-position: right center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .prueba{
        position: absolute;
        top:320px;
        margin-top: 16px;
    }
    .imagen-publicidad{
        height: 656px;
    }
}

.tu{
    background-image: url("../Recursos/Imágenes/boy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: rgb(201, 201, 201);
}