.one{
    
    transition:all 0.5s;
    
}
.one:hover{
    
    transform: scale(2.5);
    z-index: 1;
}

.dos{
    
    transform-origin: left center;
    transition:all 0.5s;
}
.dos:hover{
    
    transform: scale(1.5);
    z-index: 100;
}