/*.uno{
    width: ;
    height:500px;
    position: absolute;
    /*top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;*/
    
/*
    background: url("");
    background-repeat: no-repeat;
    background-size: cover;
    animation: slider 14s infinite alternate;
}
/*
@keyframes slider{
    from{
        
        background-position: left center;
    }
    to{
        
        background-position: right bottom;
    }
}

@media only screen and (max-width: 991px) {
    .dos{
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .uno{
        width: ;
    height:400px;
    }
}